<%= form_with(model: case_management, local: true) do |form| %>
  <% if case_management.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case_management.errors.count, "error") %> prohibited this case_management from being saved:</h2>

      <ul>
      <% case_management.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
